
.content{
    display: flex;
}

.content .info ul li span{
    font-weight: bold;
}

.content .img img{
    max-width: 320px;
    max-height: 400px;
}

.content .img .buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}

.content .img .buttons .btn{
    max-width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 8px;
    background-color: rgb(13, 102, 61);
    color: #fff;
}

.btn{
    padding: 10px 40px;
    background-color: #4c4c4c;
    color: #fff;
    text-decoration: none;
}