.content{

}

.content .card a{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #dcf5e0;
    margin: 10px 0;
    text-decoration: none;
}

.content .card .img{
    width: 30%;
}

.content .card .img img{
    max-width: 100%;
    height: 200px;
}

.content .card .content-inner{
    width: 70%;
    padding: 0 15px;
}

.content .card .content-inner h3{
    color: #2e2e2e;
}
.content .card .content-inner p{
    color: #333;
}